h1{
	color:orange;
	border-bottom: 1px dotted;
	font-size:18px;
	text-shadow: 1px 2px 0px #e1e1e1;
}
body{
	font-family:verdana;
	padding:15px;
	font-size:13px;
	background-image: url("http://bitguiders.com/themes/default/images/contents.png");
}
.Icon{
	width:30px;
	height:30px;
}
.Loading{
	display:none;
	position:absolute;
	margin:0 auto;
	top:10px;
	left:10px;
}